.form{
 border: 4px double black;
 width: 300px;
 margin-top: 3%;
 border-radius: 20px;
 border-color: #ffa500;
}
.wrapper{
  height: 100%;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.item{
  display: inline-block;
  height: 30%;
  width: 30%;
}

.container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.my_form {
    margin-left: auto;
    margin-right: auto;
    background-color: #ffcc00;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}