<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Проект по Web</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>
<body>
<div align="right" style="margin-right: 5%;" id="register_form">
</div>
<div style="margin-top: 5%">
    <div align="center" class="my_form" style="width: 200px; height: 400px">
        <button onclick="window.location.href='view_spending'" style="margin-top: 70%;">Мои расходы</button>
        <br><br>
        <button onclick="window.location.href='save_money'">Копилка</button>
        <br><br>
        <button onclick="window.location.href='credit'">Кредит</button>
        <br><br>
        <button onclick="window.location.href='translation'">Перевод валют</button>
    </div>
</div>
<script>
    let register = document.createElement("button");
    let logout = document.createElement("button");
    let login = document.createElement("button");

    let label = document.createElement("label");
    label.innerHTML = "{{ name }}";

    register.innerHTML = "Регистрация";
    register.onclick = function(){window.location.href='register';};

    logout.innerHTML = "Выйти";
    logout.onclick = function(){window.location.href='logout';};

    login.innerHTML = "Вход";
    login.onclick = function(){window.location.href='login';};

    if("{{ name }}" != ""){
        document.getElementById("register_form").appendChild(label);
        document.getElementById("register_form").appendChild(logout);
    }
    else{
        document.getElementById("register_form").appendChild(login);
        document.getElementById("register_form").appendChild(register);
    }

</script>
</body>
</html>
