<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
<div class="wrapper">
    <div class="item">
        <label>&darr; Питание &darr;</label><br>
        <input id="eat" autocomplete="False"><br><br>
        <label>&darr; Проезд &darr;</label><br>
        <input id="traveling" autocomplete="False">
    </div>
    <div class="item">
        <label>&darr; Развлечения &darr;</label><br>
        <input id="fun" autocomplete="False" align="middle"><br><br>
        <label>&darr; Одежда &darr;</label><br>
        <input id="clothes" autocomplete="False">
    </div>
    <div class="item">
        <label>&darr; Здоровье &darr;</label><br>
        <input id="health" autocomplete="False"><br><br>
        <label>&darr; Прочее &darr;</label><br>
        <input id="another" autocomplete="False">
    </div>
</div>
<button>Принять</button>


</body>
</html>